﻿
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization                
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{ 
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName }).ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<form id="selectLanguage" asp-controller="Home" style="margin-top:14px;" asp-action="SetLanguage"
 asp-route-returnUrl="@returnUrl" method="post" class="form-horizontal" role="form">
    @if(requestCulture != null)
    {
        <input type="hidden" name="currentCulture" value="@requestCulture.RequestCulture.UICulture.Name"/>
    }

    <label asp-for="@requestCulture.RequestCulture.UICulture.Name"><i class="fa fa-language"></i></label>
    <select name="culture" onchange="this.form.submit();" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>

</form>
