﻿@{
    ViewData["Title"] = @Localizer["Home"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <h1 class="display-4">@Localizer["Change Language"]</h1>
    <h1 class="display-4">@Localizer["Thank"]</h1>
   
</div>
